body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    font-family: "Roboto";
    background-color: var(--bgc);
}

#root{
    box-sizing: border-box;
    width: 100%;
    display: flex;
}

h1, 
h2,
h3,
h4,
p{
    margin: 0;
    padding: 0;
}
