.a4Preview {
  height: 80vh;
  aspect-ratio: 1 / 1.414;
  background-color: white;

  position: sticky;
  top: 10vh;

  box-sizing: border-box;
  margin: 10vh 0vw;
  padding: 2vh 2vw;

  display: flex;
  flex-direction: column;
  gap: 2vh;

  overflow: scroll;
}

.a4Preview p {
  font-size: 1.25vh;
}
ul {
  padding: 0;
  margin: 0;
  font-size: 1.18vh;
  list-style-position: inside;
}

/* Personal Details */
.perDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.perDetails h1 {
  font-family: sans-serif;
  font-size: 2.41vh;
}
.perDetails p {
  font-size: 1.25vh;
}
.perDetails div {
  display: flex;
  gap: 1vh;
}

/* Details Header */
.detailsHeader {
  font-weight: 400;
  font-size: 1.8vh;
  width: 100%;
  border-style: solid;
  border-width: 0 0 1px 0;
}

.wraps {
  display: flex;
  align-items: baseline;
  gap: 0.6vh;
}

.mainTitle {
  font-size: 1.6vh;
}

p.dash {
  font-size: 1.2vh;
  font-weight: 150;
}

.eduTWrap {
  justify-content: space-between;
}

.date {
  margin-left: auto;
  font-style: italic;
}

.workExp,
.projWrap {
  display: flex;
  flex-direction: column;
  gap: 0.4vh;
}

.expDetails,
.proDetails,
.eduDetails,
.skiDetails {
  display: flex;
  flex-direction: column;
  gap: 0.7vh;
}
.hello {
  display: flex;
  flex-direction: column;
  gap: 0.2vh;
}

.stackTitle {
  font-weight: 700;
}
