.resumeEditor {
  background-color: white;
  height: 100%;
  width: 100%;

  box-sizing: border-box;
  border-radius: 20px;
  margin: 5vh 5vw;
  padding: 20px;

  font-size: 16px;
}

.personalWrap,
.experienceWrap,
.educationWrap,
.projectsWrap,
.skillsWrap {
  border: solid;
  border-radius: 15px;
  border-width: 3px;
  padding: 5px 10px;
}

h1 {
  font-size: 1.5rem;
}
